*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80vw;
  margin: auto;
}

.clearfi::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header{
  height: 80vh;
  color: white;
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header-top{
  height: 10vh;
}

.header-top a{
  text-decoration: none;
  color: white;
}

/* HEADER TOP SINISTRO */
.header-left-nav{
  height: 10vh;
  padding: 0 20px;
}

.logo{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.logo img{
  height: 60px;
}

/* HEADER TOP CENTRO */
.header-center-nav li{
  display: inline-block;
  height: 10vh;
  line-height: 10vh;
  padding: 0 10px;
}

.header-center-nav li:hover{
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
}

.header-center-nav li:hover a{
  color: green;
}

/* HEADER TOP DESTRO */
.header-right-nav{
  height: 10vh;
  text-align: center;
}

.header-right-nav .menu-right{
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.header-right-nav .login, .tutor, .piano a{
  height: 40px;
  line-height: 40px;
}

.header-right-nav div.login{
  height: 40px;
  border: 3px solid white;
  border-radius: 3px;
}

.header-right-nav div.piano{
  height: 40px;
  background-color: green;
  border-radius: 3px;
}

/* HEADER BOTTOM */
.header-bottom{
  height: 80vh;
}

.box-header{
  width: 50%;
  height: 100%;
}

.scritta-grande{
  font-size: 80px;
  position: relative;
  top: 30%;
}

.scritta-piccola{
  font-size: 25px;
  position: relative;
  top: 35%;
  height: 25px;
  width: 400px;
}

.box-header p.piano{
  text-align: center;
  padding: 20px;
  background-color: green;
  border-radius: 10px;
}

.scritta-piccola p.piano:hover{
  background-color: white;
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

/* MAIN TOP */
.main-top{
  height: 200px;
  background-color: lightgrey;
}

div.scritta-nera{
  text-align: center;
  font-size: 50px;
  color: black;

}

div.scritta-grigia{
  text-align: center;
  font-size: 30px;
  color: grey;
}

/* MAIN CENTRALE SOPRA */
.main-top-centro{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.box{
  width: calc(100% / 3);
  display: inline-block;
}

div.box div.immagine{
  height: 300px;
  padding-top: 20px;
}

div.box div.immagine img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

div.box div.scritta-verde{
  height: 200px;
  font-size: 45px;
  text-align: center;
  color: green;
  padding-top: 20px;
}

div.box div.scritta-verde:hover{
  text-decoration: underline;
  cursor: pointer;
}

div.box hr{
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div.box div.paragrafo{
  font-size: 30px;
  text-align: center;
  color: grey;
  padding-top: 20px;
  margin-bottom: 20px;
}

main hr{
  width: 96%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* MAIN CENTRALE SOTTO */
section.main-centro-due{
  height: 75vh;
}

div.montagna{
  width: 50%;
}

div.montagna .img-montagna{
  padding-top: 20px;
  height: 80%;
}

div.scalata{
  width: 50%;
}

div.scalata p.scritta-main-nera{
  font-size: 70px;
  color: black;
  padding-top: 20%;
}

div.scalata p.scritta-main-grigia{
  font-size: 30px;
  color: grey;
  padding: 30px 0 30px;
}

div.scalata a{
  font-size: 30px;
}

/* FOOTER */
footer{
  height: 200px;
  background-color: lightgrey;
}

.footer-left, .footer-right{
  height: 150px;
  line-height: 150px;
}

.footer-left p{
  font-size: 70px;
}

.footer-right{
  height: 100%;
}

.sono, .seleziona, .visualizza{
  display: inline-block;
  font-size: 30px;
  margin-right: 20px;
}

div.visualizza{
  position: relative;
  top: 55px;
  /* transform: translateY(-50%); */
  height: 50px;
}

div.visualizza p.visualizza-qua{
  height: 50px;
  line-height: 50px;
  background-color: green;
  border-radius: 3px;
  color: white;
}

div.visualizza:hover p.visualizza-qua{
  background-color: white;
  color: green;
  cursor: pointer;
}

div.help{
  width: 100px;
  height: 50px;
  font-size: 30px;
  position: fixed;
  bottom: 0;
  right: 12vw;
}

div.help p{
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

div.help:hover p{
  background-color: white;
  color: green;
  cursor: pointer;
}
